<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>willstodo</title>
    <link rel="stylesheet" href="images/octicons (1)/octicons.css">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

  </head>
  <body ng-app>



    <div class="container" ng-controller="MainController">
      <h1>todos</h1>

      <div class="form_container">
        <form class="make_list" ng-submit="addTask(newTask)">

          <img src="images/inputimg.png">
          <input ng-model="newTask.thing" type="text" id="main_task" class="task" name="task" placeholder="What needs to be done?" required>
        </form>
        <ul class="todo_list">
          <li ng-repeat="task in list" class="active">
            <p><img ng-click="task.completed=!task.completed" src="images/vh8dRvC.png" class="check">
              <span ng-dblclick="edit = true" ng-hide="edit" ng-class="{ strike: task.completed }">{{ task.thing }}</span><img ng-click="delete(task)" src="images/C9u1sfv.png" class="X">
              <form ng-submit="edit = false" ng-show="edit" class="edit_form">
                <input ng-model="task.thing" type="text" class="edit active" placeholder="{{ task.thing }}">
              </form>
          </li>
        </ul>
        <div class="bottom-bar">
          <p>"{{ total() }}" item(s) left</p>
          <ul>
            <li id="all"><a href="#">All</a></li>
            <li id="active"><a href="#">Active</a></li>
            <li id="completed"><a href="#">Completed</a></li>
          </ul>
          <button ng-click="clear()">Clear Completed ({{list.length - total()}})</button>
        </div>
        <p>Double-Click to edit a todo</p>
      </div>
    </div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/app.js"></script>
        <!-- endbuild -->
</body>
</html>
